{% extends 'base.html' %}

{% block 'title' %}Posts{% endblock %}

{% block 'content' %}

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_created|date:"Y-m-d, f" }}</small>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content|truncatewords:"30"|safe }}
            <a class="card-text" href="{% url 'post' post.pk %}">Read More</a>
            </p>
        </div>
        <hr>
    </div>
</article>
{% endfor %}

{% endblock %}